[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
Icon=/usr/share/dwagent/images/logo.png
Exec="/usr/share/dwagent/native/dwagent"
Categories=System;Application;
Type=Application
Name=DWAgent
GenericName=DWAgent
