html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0;
}
html {
  height: 100%;
}
body {
  background-image: -webkit-linear-gradient(top left, #e2f0cb 0%, #b5ead7 40%, #c7ceea 100%);
  min-height: 100%;
  background-position: center 100%, center center;
  background-repeat:no-repeat;
  background-size: 100%, 100% 100%;
  display: flex;
  align-items: flex-end;
}
@media (min-width:768px) {
  body {
    align-items: center;
    background-size: 100%, 100% 100%;
  }
}

#root {
  width: 100%;
}